html {
   font-family: sans-serif;
 }
 
 table {
   border-collapse: collapse;
   border: 2px solid rgb(200,200,200);
   letter-spacing: 1px;
   font-size: 0.8rem;
   color: #fff;
 }
 
 td, th {
   border: 1px solid rgb(190,190,190);
   padding: 10px 20px;
 }
 
 th {
   background-color: rgb(167, 14, 14);
 }
 
 td {
   text-align: center;
   font-weight: lighter;
 }
 
 tr:nth-child(even) td {
   background-color: rgb(35, 25, 182);
 }
 
 tr:nth-child(odd) td {
   background-color: rgb(11, 85, 39);
 }
 
 caption {
   padding: 10px;
 }